.header {
    padding: 18px 0 12px 0;
    .main-header {
        display: flex;
        justify-content: space-between;
        .header__logo {
            display: flex;
            align-items: flex-end;
            .logo {
                width: 121px;
            }
            &-title {
                font-weight: 500;
                font-size: 13px;
                line-height: 10px;
                margin: 0 0 1px 13.23px;
                color: #333;
            }
        }
        .header-navigation__items {
            display: flex;
            .hamburger-menu {
                display: none;
            }
            .header-navigation__item {
                list-style: none;
                margin: 0 25px 0 0;
                .header-navigation__link {
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 16.8px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
        .header__contacts {
            display: flex;
            .header__contact-icon {
                margin: 0 8px 0 0;
            }
            .header__contact-number {
                font-weight: 700;
                font-size: 19px;
                text-decoration: underline;
                line-height: 21.76px;
                margin: 0 0 0 7px;
                color: #333;
            }
        }
    }
}

.subtitle-section {
    padding: 10.5px 0 10.53px 0;
    background: linear-gradient(0deg, #333, #333), linear-gradient(0deg, #333, #333), #735FF2;
    .main-subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        .subtitle-navigation__items {
            display: flex;
            .subtitle-navigation__middle {
                margin: 0 56px 0 56px;
            }
            .subtitle-navigation__item {
                .subtitle-navigation__link {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.background-image {
    width: 100%;
    height: 389.97px;
}

.promotion-section {
    padding: 80px 0 89.86px 0;
    background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #ECE8E5;
    .promotion__title-line {
        display: none;
    }
    .promotion__title {
        font-weight: 700;
        font-size: 63px;
        line-height: 55px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        letter-spacing: -1.2px;
        justify-content: center;
        color: #333;
        img {
            margin: 0 0 0 11px;
            height: 66px;
        }
    }
    .main-promotion {
        margin: 28px auto 0 auto;
        padding: 73px 47px 24px 47px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F4F7FE;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        &__title {
            font-weight: 700;
            font-size: 55px;
            line-height: 50px;
            text-transform: uppercase;
            text-align: center;
            color: #333;
        }
        .main-promotion__region {
            display: flex;
            justify-content: space-between;
            margin: 41px 0 0 0;
            .promotion__region {
                display: flex;
            }
        }
        .promotion__donate {
            padding: 44px 0 9px 0;
            &-title {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                &-subject {
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 15px;
                    color: #333;
                }
                &-price {
                    &__subject {
                        span {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30%;
                    }
                }
            }
        }
        .price__input {
            width: 100%;
            height: 5px;
        }
        .promotion__btn {
            display: flex;
            justify-content: center;
            transition: all 0.5 ease 0s;
            padding: 37px 0 51px 0;
        }
        .promotion-main__blog-title {
            font-weight: 700;
            font-size: 33px;
            line-height: 30px;
            text-align: center;
            margin: 0 0 43.8px 0;
            text-transform: uppercase;
        }
        .promotion-main__blog {
            display: flex;
            justify-content: center;
            .start {
                padding: 0 20px 0 0;
            }
            .middle-blog {
                padding: 0 23px 0 13px;
                border-left: 2px solid #F0EDEA;
                border-right: 2px solid #F0EDEA;
            }
            .end {
                padding: 0 0 0 30px;
            }
            .promotion__blog {
                width: 31.8%;
                &-title {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 22px;
                    text-transform: uppercase;
                    margin: 0 0 27px 0;
                    text-align: center;
                }
                .main-promotion__text {
                    display: flex;
                    .dot {
                        width: 6px;
                        height: 6px;
                        border-radius: 50px;
                        margin: 5px 14px 0 0;
                        background-color:#FF0404;
                    }
                    .promotion__blog-subtitle {
                        font-family: 'Gilroy', sans-serif;
                        font-weight: 500;
                        font-size: 18.3px;
                        line-height: 18px;
                        margin: 0 0 27px 0;
                    }
                }
            }
        }
    }
}

.tarifs-section {
    padding: 89px 0 97px 0;
    .tarifs-title {
        font-weight: 700;
        font-size: 55px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 51px 0;
    }
    .main-tarifs {
        max-width: 1074px;
        margin: 0 auto;
        .tarifs-info__blog {
            display: flex;
            justify-content: flex-end;
            margin: 0 11px 25px 0;
            &-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                margin: 0 54px 0 0; 
                text-transform: uppercase;
            }
        }
        .title-multicolored {
            font-weight: 700;
            font-size: 33px;
            line-height: 30px;
            padding: 9px 0 10px 0;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
        }
        .yellow {
            margin: 0 0 21px 0;
            background: linear-gradient(0deg, #FFD773, #FFD773), #F4F7FE;
        }
        .skyblue {
            margin: 13px 0 21px 0;
            background: linear-gradient(0deg, #77CBFA, #77CBFA), #F4F7FE;
        }
        .tarifs-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 54px 0 0;
            &__info {
                width: 485px;
                padding: 20px 0 29px 0;
                &-title {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
                &-subtitle {
                    font-family: 'Gilroy', sans-serif;
                    font-weight: 500;
                    margin: 12px 0 0 0;
                    font-size: 16px;
                    line-height: 18.83px;
                }
            }
            .tarifs-line__blog {
                width: 1px;
                height: 21px;
                background-color: #EAECEF;
            }
        }
        .tarifs-line__mobile {
            display: none;
        }
        .line-down {
            border-bottom: 1px solid #EAECEf;
        }
        .tarifs-price {
            margin: 6px 0 0 0;
            display: flex;
            justify-content: flex-end;
            .price-blog {
                margin: 0 20px 0 0;
                text-align: center;
                .price-blog__main {
                    display: none;
                }
                &__title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                    margin: 0 0 29px 0;
                }
                .btn-primary {
                    padding: 13px 27px 10px 28px;
                }
            }
        }
    }
}

.register-section {
    padding: 80px 0 80px 0;
    background-color: #333;
    .register__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 0 0 44px 0;
        text-align: center;
        color: #fff;
    }
    .main-register {
        display: flex;
        max-width: 1074px;
        margin: 0 auto;
        .main-register__input {
            margin: 0 20px 0 0;
            .register__input {
                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                border: 1px solid #FFF;
                border-radius: 5px;
                padding: 15px 0 15px 18px;
                margin: 0 0 20px 0;
                outline: none;
                color: #fff;
                background-color: transparent;
            }
        }
        .register__checkbox {
            width: 340px;
            display: flex;
            align-items: center;
            margin: 7px 0 31px 0;
        }
        .btn {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.description-section {
    .main-description {
        display: flex;
        padding: 80px 0 80px 0; 
        justify-content: space-between;
        .description__blog {
            width: 139px;
            text-align: center;
            .description__user {
                width: 139.31px;
                height: 139.3px;
                border-radius: 50%;
            }
            &-title {
                font-weight: 500;
                font-size: 22px;
                line-height: 25px;
                margin: 35px 0 13px 0;
                text-transform: uppercase;
                letter-spacing: -0.31px;
            }
            &-subtitle {
                font-family: 'Gilroy', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.31px;
            }
        }
    }
}

.tarifs-blog-section {
    padding: 80px 0 76px 0;
    background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #ECE8E5;
    .tarifs-blog__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 45px 0;
    }
    .main-tarifs-blog {
        display: flex;
        justify-content: space-between;
        .tarifs__blog {
            width: 230px;
            text-align: center;
            border-radius: 20px;
            padding: 39px 19px 32px 19px;
            &-title {
                max-width: 146px;
                margin: 0 auto;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
            }
            &-image {
                margin: 31px 0 39px 0;
            }
            &-subtitle {
                font-family: 'Gilroy', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
            &-price {
                font-family: 'Gilroy', sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                margin: 15px 0 28px 0;
            }
        }
    }
}

.blog-section {
    padding: 84px 0 80px 0;
    .blog__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 45px 0;
    }
    .main-blog {
        display: flex;
        justify-content: space-between;
        .blog {
            padding: 20px 21px 35px 19px;
            background: #F5F7F9;
            border-radius: 20px;
            &__subtitle {
                width: 119px;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                margin: 30px 0 7px 0;
            }
            &__link {
                font-family: 'Gilroy', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                transition: all 0.5s ease 0s;
            }
            &__link:hover {
                color: #FF0404;
            }
        }
    }
}

.footer {
    padding: 80px 0 24px 0;
    background-color: #333;
    .main-footer {
        display: flex;
        padding: 0 0 64px 0;
        .footer__logo {
            display: flex;
            align-items: flex-start;
            margin: 0 169px 0 0; 
            &-subtitle {
                font-weight: 500;
                font-size: 10px;
                line-height: 10px;
                margin: 6px 0 0 9px;
                color: #fff;
            }
        }
        .footer__blog {
            margin: 0 57px 0 0;
            &-title {
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
                color: #fff;
            }
            .footer__line {
                width: 34px;
                height: 2px;
                margin: 30px 0 30px 0;
                background-color: #FF0404;
            }
            .footer__link {
                img {
                    margin: 0 16px 0 0;
                }
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
                line-height: 18px;
                color: #fff;
                margin: 0 0 13px 0;
                transition: all 0.3s ease 0s;
            }
            .footer__link:hover {
                color: #FF0404;
            }
        }
    }
    .last-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #666;
        padding: 15px 0 0 0;
        &__subject {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 575.98px) {
    #display-none {
        display: none;
    }

    .header {
        padding: 20px 0 21px 0;
        .main-header {
            .header__logo {
                .logo {
                    width: 121px;
                }
            }
            .header-navigation__items {
                .hamburger-menu {
                    display: flex;
                    align-items: space-between;
                    .menu__box {        
                        display: block;
                        align-items: space-between;
                    }
                    .header__logo {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        .header__logo-title {
                            color: #fff;
                        }
                    }
                    .header__contacts {
                        display: flex;
                        justify-content: center;
                        .header__contact-number {
                            color: #fff;
                        }
                    }
                }
                .header-navigation__item {
                    display: none;
                }
            }
            .header__contacts {
                display: none;
            }
        }
    }

    .subtitle-section {
        display: none;
    }

    .background-image {
        width: 100%;
        height: 156px;
    }

    .promotion-section {
        padding: 57px 0 60px 0;
        .promotion__title-line {
            display: block;
            width: 281px;
            height: 45px;
            position: absolute;
            margin: 0 0 0 1.68rem;
            background: linear-gradient(270deg, rgba(255, 4, 4, 0.65) 0%, rgba(255, 4, 4, 0) 100%);
        }
        .promotion__title {
            max-width: 268px;
            margin: 0 auto;
            font-size: 47px;
            line-height: 45px;
            text-align: center;
            img {
                width: 44px;
                height: 44px;
                margin: 21px 0 0 89px;
                position: absolute;
            }
        }
        .main-promotion {
            margin: 30px 0 0 0;
            padding: 40px 19px 17px 19px;
            &__title {
                font-size: 35px;
                line-height: 35px;
            }
            .main-promotion__region {
                display: block;
                margin: 31px 0 0 0;
                .promotion__region {
                    display: block;
                    .promotion-select {
                        width: 100%;
                        margin: 0 0 9px 0;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        background-position: 274px 19px;
                    }
                }
                .promotion__checkbox {
                    margin: 15px 0 0 0;
                }
                .promotion__btn {
                    padding: 36px 0 45px 0;
                }
            }
            .promotion__donate {
                padding: 36px 0 6px 0;
                .promotion__donate-title-subject {
                    display: flex;
                    align-items: center;
                    margin: 0 0 2px 0;
                }
            }
            .promotion-main__blog-title {
                max-width: 220px;
                margin: 0 auto 29px auto;
                font-size: 25px;
                line-height: 25px;
            }
            .promotion-main__blog {
                display: block;
                .promotion__blog-title {
                    margin: 0 0 22px 0;
                }
                .promotion__blog {
                    width: 100%;
                    .main-promotion__text {
                        .promotion__blog-subtitle {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            margin: 0 0 21px 0;
                        }
                    }
                }
                .start {
                    padding: 0 0 20px 0;
                }
                .middle-blog {
                    padding: 30px 0 7px 0;
                    border-top: 2px solid #F0EDEA;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 2px solid #F0EDEA;
                }
                .end {
                    padding: 30px 0 0 0;
                }
            }
            .promotion__btn {
                padding: 37px 0 47px 0;
                a {
                    padding: 15px 31px 8px 29px;
                }
            }
        }
    }

    .tarifs-section {
        padding: 61px 0 59px 0;
        .tarifs-title {
            font-size: 35px;
            line-height: 35px;
            margin: 0 0 30px 0;
        }
        .main-tarifs {
            .yellow {
                margin: 0 0 10px 0;
            }
            .skyblue {
                padding: 8px 23px 8px 23px;
                margin: 6px 0 10px 0;
            }
            .tarifs-line {
                padding: 0;
            }
            .tarifs-line__mobile {
                display: block;
                .tarifs-line {
                    display: block;
                    padding: 0 0 10px 0;
                    &__info {
                        display: block;
                        width: 100%;
                        padding: 20px 0 19px 0;
                        &-title {
                            font-weight: 700;
                            font-size: 21px;
                            text-transform: uppercase;
                            line-height: 21px;
                            margin: 0 0 5px 0;
                        }
                        &-subtitle {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            margin: 11px 0 0 0;
                        }
                    }
                    .tarifs-blog {
                        display: flex;
                        margin: 0 0 15px 0;
                        .tarifs-info__blog-title {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            margin: 0 20px 0 0;
                            text-transform: uppercase;
                            color: #333;
                        }
                    }
                }
                .line-down {
                    border: none;
                }
            }
            .tarifs-info__blog {
                display: none;
            }
            .title-multicolored {
                font-size: 25px;
                line-height: 25px;
            }
            .tarifs-line__info {
                width: 200px;
            }
            .tarifs-price {
                display: block;
                margin: 18px 0 0 0;
                .price-blog {
                    display: flex;
                    justify-content: space-between;
                    padding: 22px 20px 22px 19px;
                    text-align: left;
                    margin: 0 0 6px 0;
                    background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #EAECEF;
                    border-radius: 5px;
                    .price-blog__main {
                        display: block;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        margin: 0 0 3px 0;
                        text-transform: uppercase;
                    }
                    .price-blog__title {
                        margin: 0;
                    }
                    .btn-primary {
                        padding: 8px 27px 0px 19px;
                    }
                }
            }
        }
    }

    .register-section {
        padding: 57px 0 94px 0;
        .register__title {
            font-size: 35px;
            line-height: 35px;
            margin: 0 0 30px 0;
        }
        .main-register {
            display: block;
            .main-register__input {
                margin: 0;
                .register__input {
                    margin: 0 0 14px 0;
                }
            }
            .register__checkbox {
                margin: 81px 0 0 0;
                &-title {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 0 0 0 11px;
                }
            }
            .btn {
                width: 100%;
                margin: -99px 0 0 0;
                padding: 13px 0 12px 0;
            }
        }
    }

    .description-section {
        .main-description {
            display: block;
            padding: 62px 0 34px 0;
            .description__blog {
                width: 250px;
                display: flex;
                text-align: left;
                margin: 0 0 29px 0;
                .description__user {
                    width: 85px;
                    height: 85px;
                }
                &-info {
                    margin: 0 0 0 20px;
                    .description__blog-title {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 25px;
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }
    }

    .tarifs-blog-section {
        padding: 59px 0 74px 0;
        .tarifs-blog__title {
            font-weight: 700;
            font-size: 35px;
            line-height: 35px;
            margin: 0 0 22px 0;
        }
        .main-tarifs-blog {
            .tarifs__blog {
                padding: 33px 19px 52px 19px;
                height: 392px;
                .tarifs__blog-image {
                    margin: 31px 0 4px 0;
                }
                &-subtitle {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    max-width: 145px;
                    margin: 0 auto;
                }
                &-price {
                    margin: 16px 0 41px 0;
                }
                .tarifs__btn {
                    padding: 14px 33px 15px 32px;
                }
            }
        }
    }

    .blog-section {
        padding: 60px 0 78px 0;
        .blog__title {
            width: 100%;
            font-weight: 700;
            font-size: 35px;
            line-height: 35px;
            margin: 0 0 32px 0;
            span {
                display: none;
            }
        }
        .main-blog {
            .blog__subtitle {
                text-transform: uppercase;
                margin: 25px 0 6px 0;
            }
        }
    }

    .footer {
        padding: 60px 0 20px 0;
        .main-footer {
            padding: 0 0 19px 0;
            display: block;
            .footer__logo {
                width: 100%;
            }
            .footer__blog-title {
                text-transform: uppercase;
            }
            #last-blog {
                margin: 40px 0 0 0;
            }
            .footer__blog {
                width: 100%;
                margin: 40px 0 0 0;
                .footer__line {
                    margin: 20px 0 20px 0;
                }
                .footer__link {
                    margin: 0 0 14px 5px;
                }
            }
        }
        .last-footer {
            padding: 32px 0 0 0;
            &__subject {
                font-weight: 500;
                font-size: 15.8px;
                line-height: 18px;
            }
        }
    }
}